RewriteEngine on
RewriteCond $1 !^(index\.php|resources|debug|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
#
#RewriteCond $1 ^(debug)/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(debug/)(.*)$ application/vendor/maximebf/debugbar/src/debugbar/resources/$2 [L,QSA]